<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %> <%#11章確認　　user.rbに定義したget_profile_imag=%>
  
<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

</div>

<!-- ユーザーの投稿一覧 部分テンプレートにより切り取り-->
<%= render 'post_images/list',post_images:@post_images %>
